.env
__pycache__/
# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
env/
venv/
.venv/

# Logs
*.log

# Testing / cache
.tox/
.cache
.mypy_cache
.pytest_cache
.hypothesis

# Coverage
.coverage
.coverage.*
coverage.xml
nosetests.xml

# OS
.DS_Store

# IMPORTANT
.env